# Environment Variables
.env
.env.*
!.env.example

# Database Files
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Logs and Temp Files
*.log
*.tmp
*.bak
*.old
